/* styles.css */
header img {
    width: 5px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 10px; /* Add margin if necessary */
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #ffffff;
}

header {
    background-color: #292929;
    color: #00bfff;
    text-align: center;
    padding: 1em;
}

section {
    padding: 2em;
    background-color: #1e1e1e;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 191, 255, 0.2);
}

h1, h2 {
    color: #00bfff;
}

p {
    color: #a0a0a0;
}

a {
    color: #00bfff;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #ffffff;
}

/* Add additional futuristic styling as needed */
